/* page */

.content-head {
  display: flex;
  align-items: flex-end;
  .front {

  }
  .units {

  }
  & + * {
    margin-top: 30px;
  }
}

.item {
  &-wrap {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
  }
  position: relative;
  width: calc(100% / 4 - 20px);
  margin: 0 10px;
  margin-top: 40px;
  border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  &:nth-child(-n + 4) {
    margin-top: 0;
  }

  > a {
    figure {
      position: relative;
      .thumb {
        height: 335px;
        overflow: hidden;
      }
      img {
        transform: scale(1);
        transition: .3s;
      }
    }
    figcaption {
      background-color: red;
    }
    &:hover {
      figure {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

}

.prd-item {
  .thumb {
    overflow:hidden;
    height: 535px;
    img {
      transition-duration: .5s;
      transform:scale(1);
    }
  }
  
  > a:hover {
    .thumb {
      img {
        transform:scale(1.1);
      }
    }
  }
  &.type1 {
    .thumb {
      position: relative;
      margin-bottom:16px;
      background-color: #f6f6f6;

      .rank {
        position: absolute;
        left:22px;
        top:22px;
        font-size: 20px;
        font-weight: bold;
        color: #b1b1b1;
      }
      img {
        display: block;
      }
    }
  }
  &.type2 {
    .thumb {
      position: relative;
      height: 335px;
      overflow: hidden;
      > img {
        display: none;
        width: 100%;
        height: 100%;
        &:nth-child(2n) {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: all 0.3s;
        }
      }
      &:hover {
        > img:nth-child(2n) {
          opacity: 1;
        }
      }
    }
    canvas {
      height: 100%;
    }
    .name {
      position: absolute;
      bottom: 20px;
      left: 10px;
      width: calc(100% - 20px);
      color: #333;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.prd-detail {
  margin-top: 16px;
  font-size: 15px;
  line-height: 18px;
  
  .cate {
    font-family: 'Helvetica 55 Roman';
    font-size: 13px;
    line-height: 15px;
    color: #9a9a9a;
    letter-spacing: -0.5px;
  }
  .name {
    margin:8px 0 20px;
    color: #131313;
    letter-spacing: -1px;
  }
  .price {
    font-weight: bold;
    letter-spacing: -0.5px;
  }
}



/* page */